<%- partial('common/head') %>
<body>
    <div id="progress">
        <span></span>
    </div>

    <div id="container">

        <%- partial('common/header') %>

            <%- body %>

        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>
    </div>
</body>
</html>